*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/* header */
.header{
    background-color: var(--primary-color);
}

/* header top */
.header-top{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    border-bottom: 4px double #D34444;
}

.header-top__address{
    font-size: 1.5rem;
    color: #fff;
}

.header-top__item-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

.header-top__item-right-call-map{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.header-top__icon,
.header-top__call-label{
    margin-right: 8px;
}

.header-top__call-label i{
    font-size: 18px;
}

.header-top__phone-number{
    font-weight: 700;
    margin-right: 12px;
    text-decoration: none;
    color: #fff;
}

.header-top__location-store{
    position: relative;
}

.header-top__location-store:hover .sub-location-store-list{
    display: block;
}

.sub-location-store-list{
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    background-color: #fff;
    min-width: 126px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0, 5%);
    display: none;
    z-index: 1;
    border-radius: 3px;

}

.sub-location-store-item:hover > a{
    background-color: #f4f4f4;
}

.sub-location-store-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 7px 15px;
    line-height: 20px;
    display: block;
}

.sub-location-store-link:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sub-location-store-link:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sub-location-store-list::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 30px;
    top: -20px;
}

.header-top__location-store-link{
    color: #fff;
    text-decoration: none;
    margin-right: 12px;
}

.header-top__phone-number:hover{
    color: var(--primary2-color);
}

.header-top__location-store-link i{
    font-size: 1.6rem;
    margin-left: 2px;
    font-weight: 300;
}

.header-top__list-icon{
    display: flex;
    margin-right: -16px;
}

.header-top__icon-link{
    color: #fff;
}

.header-navbar-icon-cart i:hover,
.header-navbar-icon-bars i:hover,
.header-navbar__product-item-link:hover,
.header-top__icon-link:hover{
    color: var(--primary2-color);
}
/* end header top */

/* header navbar */
.header-navbar{
    display: flex;
    align-items: center;
    min-height: 100px;
    justify-content: space-between;
    transition: all linear 0.25s;
}

.header-navbar-icon-cart i,
.header-navbar-icon-bars i{
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
}

.header-navbar-icon-bars,
.header-navbar-icon-cart{
    display: none;
}

.header__menu-wrap.position-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    opacity: 0.9;
    z-index: 2;
}

.position-fixed .header-navbar{
    min-height: 70px;
}

.header-navbar__menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-navbar__menu-item{
    position: relative;
}

.header-navbar__menu-item.header-navbar__menu-item--active > a{
    color: var(--primary2-color);
}

.header-navbar__menu-item:hover .sub-menu{
    display: block;
}

.sub-menu::before{
    content: "";
    width: 100%;
    top: -25px;
    height: 30px;
    position: absolute;
}

.sub-menu{
    position: absolute;
    top: calc(100% + 24px);
    left: 1.6rem;
    background-color: #fff;
    min-width: 260px;
    padding: 15px 0;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    display: none;
    z-index: 2;
}

.sub-menu-item:hover > a{
    background-color: rgba(0, 0, 0, 0.03);
    color: var(--primary-color);
}

.sub-menu-link{
    font-size: 1.4rem;
    padding: 8px 25px;
    text-decoration: none;
    color: #000;
    line-height: 1.5;
    display: block;
}

.sub-menu-link.link--active{
    color: var(--primary-color);
}

.header-navbar__menu-item-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 16px;
}

.header-navbar__menu-item:hover > a{
    color: var(--primary2-color);
}

.header-navbar__menu-item-link i{
    margin-left: 4px;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-navbar__product{
    display: flex;
    line-height: 56px;
    align-items: center;
}

.header-navbar__product-item-link{
    color: #fff;
    font-size: 2.6rem;
    text-decoration: none;
    padding: 0px 8px;
    position: relative;
}

.count-heart{
    position: absolute;
    top: 21px;
    left: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary2-color);
    min-width: 20px;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 20px;
    color: #000;
    font-weight: 600;
}

.header-navbar__btn-cart{
    background-color: var(--primary2-color);
    display: inline-block;
    border-radius: 50px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    padding: 0 12px;
    margin-left: 10px;
}

.header-navbar__btn-cart:hover{
    background-color: var(--primary2-color-hover);
}

.header-navbar__btn-cart-count{
    margin-left: 6px;
}
/* end header navbar */
/* end header */

/* content */
/* title */
.content__title{
    background-image: url(/assets/img/blog/background-images-fixed.png);
    padding-top: 260px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.content__title-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.content__title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content__title-main{
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
    font-family: open sans,helveticaneue-light,helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
}

.content__title-direction{
    color: #fff;
    justify-content: center;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.content__title-direction a{
    text-decoration: none;
    color: #fff;
}

.content__title-direction a:hover{
    color: var(--primary2-color);
    text-decoration: underline;
}

.content__title-direction i{
    font-weight: 400;
    margin: 3px 5px 0;
    font-size: 1.2rem;
}
/* end title */

.content__home-wrap{
    margin-top: 50px;
}

.content__home-wrap .grid{
    display: flex;
    flex-wrap: wrap;
}

.content__home{
    width: 71.7%;
    padding-right: 15px;
}
/* post list */
.content__post-item{
    margin-bottom: 60px;
}

.content__post-item-img{
    display: block;
    width: 100%;
    border-radius: 15px;
}

.content__post-item-heading{
    margin-top: 20px;
    margin-bottom: 8px;
}

.content__post-item-category{
    font-size: 1.5rem;
    padding: 10px 21px;
    background-color: var(--primary2-color);
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    display: inline-block;
}

.content__post-item-category:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.content__post-item-author{
    color: var(--text-color-light);
    font-size: 1.6rem;
}

.content__post-item-time::before,
.content__post-item-author::before{
    content: '/';
    padding-left: 3px;
    padding-right: 8px;
}

.content__post-item-author-link{
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

.content__post-item-time:hover,
.content__post-item-author-link:hover{
    color: var(--primary-color-hover);
}

.content__post-item-time{
    font-size: 1.4rem;
    color: var(--text-color-light);
    text-decoration: none;
}

.content__post-item-title-link{
    font-size: 2.4rem;
    font-weight: 600;letter-spacing: 0.03em;
    line-height: 1.6;
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-bottom: 12px;
}

.content__post-item-title-link:hover{
    color: var(--primary-color);
}

.content__post-item-des{
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 24px;
    margin-bottom: 16px;
}

.content__post-item-btn{
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 15px 30px;
    border: 1px solid var(--border-color);
    border-radius: 28px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
}

.content__post-item-btn:hover{
    color: #fff;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
/* end post list */
/* pagination */
.content__pagination{
    padding-top: 30px;
    border-top: 2px solid var(--border-color);
    margin-bottom: 35px;
}

.content__pagination-list{
    display: flex;
    justify-content: center;
}

.content__pagination-link{
    text-decoration: none;
    color: var(--primary-color);
    width: 35px;
    height: 35px;
    border: 1px solid var(--border-color);
    font-size: 1.4rem;
    border-radius: 30px;
    display: block;
    text-align: center;
    line-height: 35px;
    margin: 6px;
}

.content__pagination-link:hover{
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}

.content__pagination-link.page-current{
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
    cursor: default;
}
/* end pagination */
/* navigation */
.content__navigation{
    width: 28.3%;
    padding-left: 15px;
}

.content__nav-search{
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content__nav-search input{
    line-height: 20px;
    width: 100%;
    padding: 15px 60px 15px 22px;
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 15px;
}

.content__nav-search i{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.content__nav-recent-posts,
.content__nav-category{
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    padding: 15px 24px;
    margin-bottom: 30px;
}

.content__nav-recent-title,
.content__nav-category-title{
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.content__nav-category-list{
    background-color: #F7F2E2;
    padding: 0px 10px;
    border-radius: 15px;
    margin: 0 -10px 10px;
}

.content__nav-category-item{
    padding: 15px 0;
}

.content__nav-category-item:not(.content__nav-category-item:last-child){
    border-bottom: 1px dashed #fff;
}

.content__nav-category-link{
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--text-color);
    padding-left: 5px;
    text-decoration: none;
}

.content__nav-category-link::before{
    content: url(/assets/img/blog/category-icon.svg);
    margin-right: 10px;
}

.content__nav-recent-list{
    margin-bottom: 14px;
}

.content__nav-recent-item:not(.content__nav-recent-item:last-child){
    margin-bottom: 25px;
}

.content__nav-recent-item{
    display: flex;
}

.content__nav-recent-item-img img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
    display: block;
}

.content__nav-recent-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__nav-recent-item-content h3 a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 5px;
    letter-spacing: 0.45px;
    margin-bottom: 8px;
    display: block;
}

.content__nav-category-link:hover,
.content__nav-recent-item-content h3 a:hover{
    color: var(--primary-color);
}

.content__nav-recent-item-content span{
    font-size: 1.2rem;
    margin-bottom: 3px;
    color: var(--text-color-light);
    display: block;
    line-height: 20px;
}
/* end navigation */
/* end content */

/* =============================== nav mobile =============================== */
.mobile__nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.mobile__nav-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    animation: hideoverlay linear 0.2s;
}

@keyframes hideoverlay{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.mobile__nav-content{
    width: 300px;
    position: absolute;
    left: 0;
    background-color: #000;
    padding: 10px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    animation: translate linear 0.2s;
}

@keyframes translate{
    from{
        transform: translateX(-100%);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes hidenav{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.mobile__nav-close{
    float: right;
    color: #fff;
    padding: 0px 15px;
    margin-bottom: 11px;
    font-size: 1.6rem;
    line-height: 24px;
    cursor: pointer;
}

.mobile__nav-list{
    clear: both;
}

.mobile__nav-list > .mobile__nav-item:last-child a{
    color: var(--primary-color);
}

.mobile-sub-menu-item,
.mobile__nav-item:not(.mobile__nav-item.mobile__nav-item-has-submenu),
.mobile__nav-link-icon{
    font-size: 1.6rem;
    padding: 8px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
}

.mobile-sub-menu-item:not(.mobile-sub-menu-item:last-child),
.mobile__nav-item:not(.mobile__nav-item:last-child){
    border-bottom: 1px solid #0e0e0e;
}

.mobile__nav-item i{
    padding: 4px 8px;
    cursor: pointer;
}

.mobile-sub-menu-link,
.mobile__nav-link{
    text-decoration: none;
    color: #fff;
    flex: 1;
}

.mobile-sub-menu{
    padding-left: 10px;
    display: none;
    overflow: hidden;
    animation: changeheight linear 0.3s;
    transition: all linear 0.3s;
}

.changeicon{
    animation: changeicon linear 0.3s forwards;
}

@keyframes changeicon{
    from{
        transform: rotate3d(0);
    }

    to{
        transform: rotate3d(1, 0, 0, 180deg);
    }
}

@keyframes changeheight{
    from{
        height: 0;
    }

    to{
        height: 200px;
    }
}

.mobile-sub-menu-show{
    display: block;
}
/* =============================== end mobile =============================== */

/* footer mobile */
.footer__mobile-fixed{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    display: none;
}

.footer__mobile-list{
    display: flex;
    align-items: center;
}

.footer__mobile-item{
    width: 25%;
    text-align: center;
}

.footer__mobile-item:not(.footer__mobile-item:last-child){
    border-right: 1px solid #D34444;
}

.footer__mobile-link{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 5px;
}

.footer__mobile-link i.fal.fa-heart{
    position: relative;
}

.footer-count-heart{
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--primary2-color);
    color: #000;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 600;
    left: 13px;
    top: 2px;
    font-family: open sans,helveticaneue-light,helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
}

.footer__mobile-link i{
    font-size: 2.2rem;
}

.footer__mobile-title{
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    line-height: 18px;
}
/* end footer mobile */

/* footer */
.footer{
    padding-top: 80px;
}

.footer__header{
    text-align: center;
    padding: 0 15px 40px;
}

.footer__title{
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 20px;
}

.footer__sub-title{
    color: var(--text-color);
    line-height: 24px;
    margin-bottom: 40px;
    font-size: 1.6rem;
    display: block;
}

.footer__form{
    max-width: 850px;
    margin: auto;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 6px;
}

.footer__form-input{
    margin-right: auto;
    padding: 20px 0 20px 30px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    line-height: 1.8;
    flex: 1;
}

.footer__form-btn{
    padding: 18px 45px;
}

.footer__bottom-line{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.footer__bottom-line img{
    margin: 0 10px;
}

.footer__bottom-line b{
    height: 1px;
    background-color: var(--border-color);
    flex: 1;
}

.footer__bottom-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer__bottom-item{
    width: 33.3334%;
    font-size: 1.6rem;
    color: var(--text-color);
    display: inline-block;
}

.footer__bottom-item:nth-child(2){
    text-align: center;
}

.footer__bottom-item:last-child{
    text-align: right;
}

.footer__bottom-item-link{
    color: var(--primary-color);
    text-decoration: none;
}

.footer__bottom-item-link:hover{
    color: var(--primary-color-hover);
}

.footer__bottom-icon{
    display: inline-flex;
}

.footer__bottom-icon-link{
    color: var(--text-color);
    padding-left: 18px;
}

.footer__bottom-icon-link:hover{
    color: var(--primary-color-hover);
}
/* end footer */